body{
  background-color: black;
	text-align:center;
}

h1{
  color: #8382ff;
  font-size: 300px;
 
}
p{
	font-size: 200px;
}

h1 { 
   font-family: 'ConnectionRegular'; 
   font-weight: normal; 
   font-style: normal; 
}

a{
  color: white;
}

	.photo{
 position:relative; 
 margin-left:10%;
 margin-right:10%;
 text-align:center;
 border-radius: 50%;
}

.clear {
clear:both;
}
